<?xml version="1.0" encoding="UTF-8"?>
<hibernate-configuration>
    <session-factory>
        <property name="connection.url">jdbc:mysql://localhost:3306/PrototypeDB</property>
        <property name="connection.driver_class">PrototypeBackendApplication</property>
        <property name="connection.username">root</property>
        <property name="connection.password">Valtech</property>
        <property name="dialect">org.hibernate.dialect.MySQL8Dialect</property>

        <property name="hbm2ddl.auto">create</property>

        <mapping class="com.example.Models.User"/>
    </session-factory>
</hibernate-configuration>